body{
    padding: 0%;
    margin: 0%;
 }
 
 
  
 #middle{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(49, 54, 54);
     
    
 }
 img{
    border-radius: 50px;
    border: black solid 4px;
    
 }

 
 #buttom{
    display: flex;
    margin-top: 60px;
    justify-content: space-evenly;
 }
  
 button{
    background-color: cadetblue;
 }
 button:hover{
    cursor: pointer;
 }
 h1,p{
    color: azure;
 }
 #footer{
    display: flex;
    justify-content: center;
     
 }
 h2{
    margin-left: 30px;
 }
 #last{
    color: black;
    margin-left: 600px;
 }

 